h1{
    background-color: black;
    color: aqua;
    
}
h3{
    text-align: center;
}
section{
    text-align: center;
    background-color: black;
    color: whitesmoke;
    margin: 50px;
    height: auto;
}
#inicio{
    color:yellowgreen;
}
p{
    text-align: center;
    text-align: justify;
}
.nav{
    text-align: center;
    text-align: justify;
}